<div class="d-flex flex-column flex-shrink-0  text-white bg-sbn-alt w-100 h-100" data-aos="fade-right"
  data-aos-duration="300">

  <div class="logo w-100 bg-white p-2  border-bottom" style="height: 55px;">
    <a class="w-100 text-center d-block logo-mobile" target="" href="javascript:void(0)" tabindex="-1">
      <img data-aos="fade-right" data-aos-duration="2000" alt="https://portalgeo.sbn.gob.pe" src="./assets/img/logo.png"
        style="cursor: default; height: 40px;  ">
    </a>
  </div>

  <ul class="list-group flex-column mb-auto">
    <li class="list-group-item border-0 bg-transparent p-0">
      <a class=" w-100 text-start  text-white link text-decoration-none " routerLink="index" routerLinkActive="active"
        mat-flat-button matTooltip="Home" matTooltipPosition="before" aria-label="Button" matRipple>
        <div class="inside d-flex align-items-center">
          <mat-icon class="me-2" aria-hidden="false" aria-label="home">home</mat-icon><span
            class="d-none d-md-block">Home</span>
        </div>
      </a>
    </li>

    <li class="list-group-item border-0 bg-transparent  p-0">
      <a class=" w-100  text-start    text-white  link  text-decoration-none" routerLink="institutions"
        routerLinkActive="active" mat-flat-button matTooltip="Instituciones" matTooltipPosition="before"
        aria-label="Button" matRipple>
        <div class="inside d-flex align-items-center">
          <mat-icon class="me-2" aria-hidden="false" aria-label="holiday_village">holiday_village</mat-icon> <span
            class="d-none d-md-block">Instituciones</span>
        </div>
      </a>


    </li>

    <li class="list-group-item border-0 bg-transparent  p-0">
      <a class=" w-100  text-start     text-white link  text-decoration-none  " routerLink="layer"
        routerLinkActive="active" mat-flat-button matTooltip="Capas" matTooltipPosition="before" aria-label="Button"
        matRipple>
        <div class="inside d-flex align-items-center">
          <mat-icon class="me-2" aria-hidden="false" aria-label="layers">layers</mat-icon> <span
            class="d-none d-md-block">Capas</span>
        </div>
      </a>
    </li>

  </ul>
  <hr>
  <a class=" w-100 text-start  text-white link text-decoration-none " routerLink="map" mat-flat-button
    matTooltip="Salir" matTooltipPosition="before" aria-label="Button" matRipple>
    <div class="inside d-flex align-items-center">
      <mat-icon class="me-2" aria-hidden="false" aria-label="logout">logout</mat-icon> <span
        class="d-none d-md-block">Salir</span>
    </div>
  </a>
</div>