<div class="position-absolute   rounded-pill  content-header">

  <div class="logo" style="height: 50px;">
    <a target="" href="javascript:void(0)" tabindex="-1">
      <img data-aos="fade-right" data-aos-duration="2000" alt="https://portalgeo.sbn.gob.pe" src="./assets/img/logo.png"
        style="cursor: default; height: 30px; margin-top: 10px;">
    </a>
  </div>


  <h2 data-aos="fade-zoom" data-aos-duration="2000" class="title d-none d-md-block">
    <div class="attribute-custom-style">
      <font size="2"><b>Búsqueda General</b></font>
    </div>
  </h2>
<div class="content-search bg-white rounded-pill d-flex position=relative me-1">
 

      <div id="mapBuscador" class="Buscador">

  </div>

</div>
 

</div>