<div class="row m-0 overflow-x-hidden overflow-y-auto bg-white p-3 postion-relative" style=" 
    height:calc(100% - 30px)" data-aos="zoom-in-up">


   <div class="position-absolute text-center z-3" style="left:calc(50% - 36px); top:calc(50% - 36px)" *ngIf="isLoading">
      <mat-spinner diameter="50" style="width: 60px;"></mat-spinner>
   </div>
   
   <div id="Mapa-BaseMap"  ></div>
   <!-- <div *ngFor="let boton of botones; let i = index" #boton (click)="activarBoton(i)"
      class="col-12 col-sm-6   text-center mb-2  postion-relative">

      <button class="m-auto  text-decoration-none bg-transparent border-0 postion-relative">

         <div class="bm-circle overflow-hidden zoom-hover m-auto postion-relative">
            <img alt="" src="/assets/img/basemap/{{ boton.image }}">
            <div class="ico  z-3 d-none">
               <mat-icon class="text-danger" aria-hidden="false" aria-label="check">check</mat-icon>
            </div>
         </div>
         <span class="text-decoration-none fs-7 text-dark text-center  d-block" title=" {{ boton.name }}">
            {{ boton.name }}
         </span>


      </button>
   </div> -->





</div>