<div class="container-fluid overflow-auto h-100 p-0 bg-white border-0">
    <h1 class="h4  d-flex align-items-center my-2 text-dark  ps-3" data-aos="fade-up" data-aos-duration="300" style="height: 35px;"><mat-icon class="me-2"  aria-hidden="false" aria-label="home">home</mat-icon> Admin</h1>

    <div class="  w-100 bg-white  border-0"    >
        <a class="w-100 text-center d-block"   target="" href="javascript:void(0)" tabindex="-1">
         <img class="w-100" data-aos="fade-right" data-aos-duration="2000"  alt="https://portalgeo.sbn.gob.pe" src="./assets/img/main.jpg" style="cursor: default;   ">
        </a>
      </div>
</div>
